.project {
    background-color: antiquewhite;
    width: 400px;
    border-style: dashed;
}

.about-me {
    background-color: antiquewhite;
    width: 400px;
    border-style: dashed;
}

.background {
    background-color: antiquewhite;
    width: 400px;
    border-style: dashed;
}

.intrerist {
    background-color: antiquewhite;
    width: 400px;
    border-style: dashed;
}

.container {
    justify-content: space-around;
    display: flex
}

.tittle {
    font-size: xx-large;
    text-decoration: underline;
}
body {
    background-color: aqua;
}